.spinner-wrapper {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
}

.spinner {
    width: 5em;
    height: 5em;
    border: 3px solid rgba(0, 0, 0, 0.499);
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes spin {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}