.blackout {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in-out;

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
}
