.card-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-end;
    gap: 15px;
    position: relative;
    padding: 10px;
}

.links {
    text-align: right;
    padding: 0 10px;

    button {
        margin: 10px;
    }
    .active button {
        background-color: rgb(27, 43, 149);
    }
}